[Unit]
Description=Tutorials {{ backend_user }}
After=network.target

[Service]
WorkingDirectory={{ backend_src_dir }}
Type=simple
User={{ backend_user }}
ExecStart=/usr/bin/node {{ backend_src_dir }}/server.js
Restart=always

[Install]
WantedBy=multi-user.target
